<li>
	<%=link_to bookmark.title, bookmark.url%>
	(<%= link_to t("links.show_bookmark") , bookmark_path(bookmark.id) %>)
	(<%= link_to t("links.edit_bookmark"), edit_bookmark_path(bookmark.id) %>)
	(<%= link_to t("links.delete_bookmark"), bookmark , confirm: t("messages.confirm_delete_bookmark"), method: :delete%>)
</li>